* {
    margin: 0;    /* margem corrigida por nós, pq o navegador ja tem uma margem propria*/
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none; /*bolinha de lista indesejada*/
}




